:root {
  --color-primario: #4831d4;
  --color-secundario: #ccf381;
  --color-terciario: #4831d4;
  --coscuro: #0d1117;
  --claro: #ffffff;

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    /*border: solid red 5px;*/
}

    
    

  

  nav {
    background-color: var(--color-primario);
    overflow: hidden;
  }

  nav a {
    float: left;
    display: block;
    color: var(--claro);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #ddd;
    color: rgb(8, 4, 4);
  }
  main {
    width: 100%;
    margin: auto;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0d1117;
  }
  footer{
    background:#9b2c2c;
    color:white;
    text-align:center;
    height:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #ccf381;
  }
  .izq {
    color: #ffffff;
  }