:root {
  --color-primario: #4831d4;
  --color-secundario: #f87a03;
  
  --coscuro: #0d1117;
  --claro: #ffffff;

  --border: 5px solid red;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;

}

    
    

  

  nav {
    background-color: var(--color-primario);
    overflow: hidden;
  }

  nav a {
    float: left;
    display: block;
    color: var(--claro);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #ddd;
    color: rgb(8, 4, 4);
  }
  main {
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*background-color: #0d1117;*/
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/image/developer.avif');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
   
    
  }

 

  footer{
    background:#9b2c2c;
    color:white;
    text-align:center;
    height:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--color-secundario)
  }

  .izq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  margin-bottom: 10px;
  }
  .izq > h1  {
    color: var(--claro)
  
  }
h1  {
  color: var(--claro);
  font-size: 4rem;
  /* border: 4px solid blue; */
  margin: 1px;
  
}

.izq > h2 {
  color: var(--color-secundario);
  font-size: 2rem;
  /* border: 4px solid red; */
  margin: 1px;

}

.der{
  width: auto;
  height:25px;
  background-color: rgba(13, 17, 23, 0.7); 
  border-radius: 20px;
  /*box-shadow: inset -5px -5px 10px rgba(0,0,0,.3),inset
  5px 5px 10px rgba(255,255,255,.3);*/
  
  background-position: center;
  background-repeat: no-repear;
  background-size: cover;
  padding: 2% ;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  /*border: 6px solid #4831d4;*/
  margin-top: 7px;

}

.ima {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  border: 2px solid var(--claro); 
  box-shadow: 0 0 10px rgba(72, 49, 212, 0.5);
  color:#4831d4
}
h4 {
  color:var(--color-secundario)
}

.cajah {
  display: flex;
  align-items:last baseline; 
  /* border: 4px solid red; */
}

.cajah > h4 {
  
  line-height: 1.5em;
  font-size: 1.5rem;
  margin: 20px; 
}

ul {
  list-style-type: none;
  padding: 0;
}


.icono {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}


ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 2rem; 
  
}

.der ul {
  
  display: flex; 
  list-style: none; 
  padding: 0; 
}